<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006 Work</title>
    <head>
    <body>
<p> Coding Assignments:

<p> HW 1: We wrote a function that asks the user for their name, and returns
the number of letters in their name, whether that number is even or odd, and prints
each letter individually.
<br> In the second part, we wrote several functions that manipulated lists.
</p>

<p> HW 2: We wrote a simulation which calculates the position of a projectile
using the acceleration due to gravity as a function of position.
</p>


<p> HW 3: We wrote three recursive functions.
In the second part, we wrote a percolation module to solve the verticle percolation 
problem, using a randomly generated numpy array of empty and closed nodes.
</p>

<p> HW 4: We used OOP to construct a Class with students, teachers, and grades,
and returned various metrics related to our class.
</p>



<p> HW 5: We used numpy, pandas, and scikit-learn to perform the KNN algorithm (and SVM)
to predict whether or not a given tumor will be malignant or benign, using our cancer
data set. 
</p>

<p> I really enjoyed the last assignment. I had written the KNN algorithm in R in other classes,
but enjoyed seeing how easily KNN and other algorithms can be implemented in scikit-learn.

</p>
    </body>
</html>
