<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Olivia Hartzell's 1006 Home Page</title>
    <head>
    
    <style>
body {
  background-image: url("/static/background.jpg");
  background-repeat: no-repeat;
}
</style>
    
    
    
    <body>
    
    
    <img src= "/static/1006_photo.jpg" style="height:214px; width; 285px; " />
    <font size=3 color= white>
    <h2 align=left>Olivia Hartzell</br>
    <h2 align=left>Columbia University
    <h2 align=left>Senior
    <h2 align=left>Economics, Math
    
    
    <h5> Read about my work in <a
href="/1006-work" target="_blank">1006</a></h5>

    <h5> Read about my <a
href="/other-work" target="_blank">other work</a></h5>
    
    <h5> Read <a
href="https://www.newyorker.com" target="_blank">The New Yorker</a></h5>
   
    
    </body>
</html>

