<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Olivia Hartzell's 1006 Home Page</title>
    <head>
    <body>
    
    
    <img src= "/static/1006_photo.jpg" style="height:214px; width; 285px; " />
    <font size=3 color= blue>
    <h2 align=left>Olivia Hartzell</br>
    <h2 align=left>Columbia University
    <h2 align=left>Senior
    <h2 align=left>Economics, Math
    
    
    <h5> Read about my work in <a
href="/1006-work" target="_blank">1006</a></h5>

    <h5> Read about my <a
href="/other-work" target="_blank">other work</a></h5>
    
    #add background
    #add link to external website
    </body>
</html>

