<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Other Work</title>
    <head>
    <body>

<p> In 2020, I wrote a 
<a href="/static/pdmp.pdf" target="_blank">paper</a>
in which I use the Synthetic Control Method to estimate the 
effects of Mandatory Prescription Drug Monitoring Policies
<br> on outcomes related to
the Opioid Epidemic in the United States. 
</p>

<p> In 2019, I wrote a <a href="/static/proof.pdf" target="_blank">proof</a> of Euler's Theorem and its application to Public Key Cryptography.
</p>
